#include <windows.h>
1 ICON "../src/Resources/app.ico"
1 RT_MANIFEST "app.manifest"
1 VERSIONINFO
 FILEVERSION HWID_VERSION_MAJOR,HWID_VERSION_MINOR,HWID_VERSION_PATCH,0
 PRODUCTVERSION HWID_VERSION_MAJOR,HWID_VERSION_MINOR,HWID_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "FileDescription", "HWID Checker\0"
   VALUE "FileVersion", HWID_VERSION_STRING
   VALUE "InternalName", "HWIDChecker\0"
   VALUE "OriginalFilename", "HWIDChecker.exe\0"
   VALUE "ProductName", "HWID Checker\0"
   VALUE "ProductVersion", HWID_VERSION_STRING
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
